{% extends 'email/base.html' %} {% block content %}

<p>Здравствуйте,</p>
<p>
  Вами была подана заявка на смену пароля.
  Нажмите на кнопку ниже для продолжения.
</p>
<table
  role="presentation"
  border="0"
  cellpadding="0"
  cellspacing="0"
  class="btn btn-primary"
>
  <tbody>
    <tr>
      <td align="center">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="{{ url }}" target="_blank">Сменить пароль</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
